<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>40 beans</title>
        <meta name="viewport" content="width=device-width">
        <style>
          div {
            margin: 50px auto;
            width: 700px;
          }
          img {
            width: 100%;
          }
          h1 {
            font-family: arial, sans-serif;
            text-align: center;
          }
        </style>
    </head>
    <body>
      <div>
        <img src="{{ site.baseurl}}/images/40beans.png" />
        <h1>Something about coffee</h1>
      </div>
    </body>
</html>
